 /*	Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

input, input:focus {
	outline: none;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: transparent;
}

/**/

body {
  background-color: #563c4c;
}

form {
  box-sizing: border-box;
  width: 67%;
	overflow: hidden;
  margin: 3rem auto;

  background-color: 	#6f4248;
  border: 5px solid #361e11;
  border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 1.5rem;
}

.label {
  font-family: "Seaweed script", sans-serif;
  font-size: 1.2rem;
  color: #c1ad9d;
}

#input-text-len {
	margin-left: 8%;
}

.input-inline {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	margin: 0 3.5rem;
}

input {
  font-size: 1.2rem;
  font-weight: bold;

  color: #000;
  background-color: #d2926f;
  border: 2px solid #000;
  border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

input:focus {
  border: 2px solid #6a5f58;
  color: #000;
  background-color: #ba7958;
}

#input-min-len, #input-max-len {
	width: 2rem;
	margin: 0 1rem;
}

#select-option {
	margin-left: 10%;
	background-color: #d2926f;
  font-size: 1.2rem;
  font-weight: bold;

  border: 2px solid #000;
  border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#select-option:focus {
  outline: none;
  border: 2px solid #6a5f58;
  background-color: #ba7958;
}

#select-option>option {
  font-weight: bold;
}

#button-gen-text {
	display: block;
	margin: 2rem auto;

	overflow: hidden;

  background-color: #ecc3d8;

  border: 0.2vw solid #c1ad9d;
  border-radius: 14px;
  -o-border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;

  font-family: "Chewy", sans-serif;
  font-size: 1.5rem;
}

#button-gen-text:focus {
  outline: none;
}

#button-gen-text:active {
  background-color: #ff81b0;
  border: 4px solid #6a5f58;
}

#output-text {
	display: block;
	width: 66.67%;
	height: 12rem;
	margin: 2rem auto;

  resize: none;

  background-color: #d2926f;
  border: 2px solid #000;
  border-radius: 7px;
  -o-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;

  font-family: "Chewy", sans-serif;
  font-size: 1.2rem;
}

#output-text:focus {
  outline: none;
  border: 2px solid #6a5f58;
  background-color: #ba7958;
}

.input-error {
  background-color: #eb5153;
}
